html,
body {
    width: 98%;
    height: 100%;
    background: white;
    scroll-behavior: smooth;
    overflow-y: auto;
}

h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 1.5em;
}

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.mem {
    display: none;
    width: 85%;
    margin: 0 auto;
    margin-left: 7%;
    margin-top: 2%;
    align-items: center;
}

.mem-start {
    display: block;
    width: 85%;
    margin: 0 auto;
    margin-left: 7%;
    margin-top: 2%;
    align-items: center;
}

.checkbox-mem,
.checkbox-mem-start {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}

.label-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.text {
    margin: 0;
}

.plus {
    margin: 0;
    font-weight: 900;
}

.close {
    display: none;
    margin: 0;
}

.text-start {
    margin: 0;
    font-weight: 700;
    color: blueviolet;
}

.plus-start {
    display: none;
    margin: 0;
    font-weight: 900;
}

.close-start {
    margin: 0;
    color: blueviolet;
}

.bayan-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: #000;
    cursor: pointer;
    transition: background 0.2s ease-out;
}

.checkbox-mem:checked~.mem {
    display: block;
}

.checkbox-mem:checked~.bayan-title {
    font-weight: 700;
    color: blueviolet;
}

.checkbox-mem:checked~label .plus {
    display: none;
}

.checkbox-mem:checked~label .close {
    display: block;
    margin: 0;
}

.checkbox-mem-start:checked~.mem-start {
    display: none;
}

.checkbox-mem-start:checked~label .text-start {
    font-weight: 400;
    color: #000;
}

.checkbox-mem-start:checked~label .plus-start {
    display: block;
    margin: 0;
}

.checkbox-mem-start:checked~label .close-start {
    display: none;
    margin: 0;
}

@media (min-width: 768px) {}

@media (min-width: 1200px) {}


/*
.bayan-title {
    display: block;
    position: relative;
    cursor: pointer;
    transition: background 0.2s ease-out;
}

.bayan-title:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #fff transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

.checkbox-mem:checked~.bayan-title:after {
    content: "";
    display: block;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #fff transparent;
    transform: rotate(0deg);
    position: absolute;
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
}

.bayan-start {
    margin-bottom: 2%;
}

.bayan-start label {
    display: block;
    font-size: 1em;
    padding-left: 5%;
    border-bottom: solid black;
    cursor: pointer;
    background: grey;
    color: blanchedalmond;
}

.bayan-start img {
    visibility: visible;
    opacity: 1;
    display: block;
    margin-top: 2%;
}

.bayan {
    margin-bottom: 2%;
}

.bayan label {
    display: block;
    font-size: 1em;
    padding-left: 5%;
    border-bottom: solid black;
    cursor: pointer;
    background: grey;
    color: blanchedalmond;
}

.bayan img {
    visibility: hidden;
    opacity: 0;
    display: none;
    margin-top: 2%;
}

.checkbox-mem-start:checked~.mem {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.checkbox-mem-start {
    display: none;
    position: relative;
}

.checkbox-mem:checked~.mem {
    display: block;
    visibility: visible;
    opacity: 1;
}

.checkbox-mem {
    display: none;
    position: relative;
}
*/