html,
body {
    width: 98%;
    height: 100%;
    background: white;
    scroll-behavior: smooth;
}

h1 {
    margin: 0 auto;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 1.5em;
}

.container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.mem {
    display: none;
    width: 85%;
    margin: 0 auto;
    margin-top: 2%;
    align-items: center;
    transition-property: all;
    transition-duration: 0.5s;
}

.mem-start {
    display: block;
    width: 85%;
    margin: 0 auto;
    margin-left: 7%;
    margin-top: 2%;
    align-items: center;
    transition-duration: 0.5s;
}

.checkbox-mem,
.checkbox-mem-start {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    appearance: none;
}

.label-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.text {
    margin: 0;
    transition-duration: 0.5s;
}

.plus {
    margin: 0;
    font-weight: 900;
    transition-duration: 0.5s;
}

.close {
    display: none;
    margin: 0;
    transition-duration: 0.5s;
}

.text-start {
    margin: 0;
    font-weight: 700;
    color: blueviolet;
    transition-duration: 0.5s;
}

.plus-start {
    display: none;
    margin: 0;
    font-weight: 900;
}

.close-start {
    margin: 0;
    color: blueviolet;
}

.bayan-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    color: #000;
    cursor: pointer;

    transition-duration: 0.5s;

}

.checkbox-mem:checked~.mem {
    display: block;
    opacity: 1;
}

.checkbox-mem:checked~.bayan-title {
    font-weight: 700;
    color: blueviolet;
}

.checkbox-mem:checked~label .plus {
    display: none;
}

.checkbox-mem:checked~label .close {
    display: block;
    margin: 0;
}

.checkbox-mem-start:checked~.mem-start {
    display: none;
}

.checkbox-mem-start:checked~label .text-start {
    font-weight: 400;
    color: #000;
}

.checkbox-mem-start:checked~label .plus-start {
    display: block;
    margin: 0;
}

.checkbox-mem-start:checked~label .close-start {
    display: none;
    margin: 0;
}

@media (min-width: 768px) {
    h1 {
        margin: 0 auto;
        text-align: center;
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 2em;
    }
    .container {
        width: 75%;
        font-size: 1.5em;
    }
    .mem {
        display: none;
        width: 75%;
        margin: 0 auto;
        margin-left: 12%;
        margin-top: 3%;
        align-items: center;
    }
    .mem-start {
        display: block;
        width: 75%;
        margin: 0 auto;
        margin-left: 12%;
        margin-top: 3%;
        align-items: center;
    }
}


@media (min-width: 1200px) {
    h1 {
        margin: 0 auto;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 4%;
        font-size: 2.5em;
    }
    .container {
        width: 65%;
        font-size: 1.5em;
        transition-duration: 0.5s;
    }
    .container:hover .text-start,
    .container:hover .text {
        background-color: rgb(250, 225, 85);
        font-size: 1.1em;
    }
    .mem {
        display: none;
        width: 50%;
        margin: 0 auto;
        margin-left: 25%;
        margin-top: 3%;
        align-items: center;
    }
    .mem-start {
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-left: 25%;
        margin-top: 3%;
        align-items: center;
    }
    .bayan:hover .mem,
    .bayan:hover .mem-start {
        display: block;
        width: 40%;
    }
}